## Libraries Used

The following libraries were used in the development of this project:

NumPy: Library for numerical computations in Python.
Pandas: Data manipulation and analysis library.
scikit-learn: Machine learning library for building models and evaluating performance.
TensorFlow: Deep learning framework for building and training neural networks.
Matplotlib: Plotting library for creating visualizations.
Seaborn: Statistical data visualization library based on Matplotlib.
SciPy: Library for scientific computing and statistical functions.
joblib: Library for persisting scikit-learn models to disk.
PyTorch: Deep learning framework for building neural networks.
